@import url('https://fonts.googleapis.com/css?family=Roboto:700|Roboto:400');

body {
  font-family: 'Roboto';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; margin: 0; /* 67.36px */}

h2 {font-size: 3.158rem; margin: 0; /* 50.56px */}

h3 {font-size: 2.369rem; margin: 0; /* 37.92px */}

h4 {font-size: 1.777rem; margin: 0; /* 28.48px */}

h5 {font-size: 1.333rem; margin: 0; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.selection {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.score {
    outline: 1px solid #000;
    padding: 5px 20px;
    border-radius: 3px;
}

button {
    padding: 7px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 110px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}